._background.js
._images
._button.css
._options.html
._manifest.json
._options.js
._popup.html
._popup.js
images/._get_started16.png
images/._get_started32.png
images/._get_started48.png
images/._get_started128.png
